h1{
    color:hsla(246, 100%, 12%, 0.685)
}
.temp{
    text-align: center;
    margin: auto;
    background-color: hsla(184, 72%, 72%, 0.205);
    max-width: 540px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px hsla(246, 100%, 12%, 0.685);

}
#tempinput{
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}
#convert{
    padding: 5px;
    border-radius: 5px;
    background-color: hsla(246, 100%, 12%, 0.685);
    color: white;
}
.but{
    padding: 10px ;
    
    cursor: pointer;
    margin-top: 10px;
}
body{
    background-color: hsla(184, 72%, 72%, 0.205);
    font-family: 'Roboto', sans-serif;
}
#result{
    font-size: 2.5em;
}